.nav {
	background-color: rgb(43, 23, 23);
	padding: 15px 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.nav_list {
	list-style: none;
	display: flex;
}

.nav_list_item {
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_list_item button {
	outline: none;
	border: none;
	background: transparent;
	padding: 5px 13px;
	border-radius: 4px;
	color: white;
	display: flex;
	transition: all 0.3s;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid white;
}
