.my_form {
	margin: 50px auto;
	background-color: rgba(147, 176, 201, 0.87);
	border-radius: 5px;
	width: 450px;
	padding: 20px;
}

.header_title {
	text-align: center;
	font-weight: 900;
	font-size: 25px;
	margin-bottom: 25px;
}

.form_control {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}

.form_control label {
	font-size: 16px;
	color: black;
	margin-bottom: 5px;
	text-align: center;
}

.textarea_div textarea,
.form_control input {
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 6px 10px;
	font-size: 16px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.my_btn_div {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.my_btn_div p {
	margin-top: 10px;
	color: rgba(67, 145, 115, 0.87);
	cursor: pointer;
	font-size: 18px;
}
