.filtered_event_section {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 35px;
}

.filtered_event_title {
	margin-bottom: 15px;
	font-size: 28px;
}
