.button_link {
	background-color: rgba(67, 145, 115, 0.87);
	padding: 10px 10px 10px 15px;
	border-radius: 5px;
	color: white;
	display: flex;
	transition: all 0.3s;
	width: fit-content;
}

.button_link span {
	height: 20px;
	width: 20px;
	margin-left: 10px;
}

.button_link:hover {
	background-color: rgb(67, 145, 115);
}

.general_button {
	outline: none;
	border: none;
	background-color: rgba(67, 145, 115, 0.87);
	padding: 8px 13px;
	border-radius: 5px;
	color: white;
	display: flex;
	transition: all 0.3s;
	font-size: 16px;
	cursor: pointer;
}
